{
  "tagFormat": "${version}",
  "branch": "master",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/github",
    "@semantic-release/git",
    "@semantic-release/npm",
    "semantic-release-template-plugin"
  ],
  "verifyConditions": [
    "@semantic-release/changelog",
    "@semantic-release/github",
    "@semantic-release/git",
    "@semantic-release/npm",
    {
      "path": "semantic-release-template-plugin",
      "msg": "template plugin",
      "documentLocation": "foo-test.txt",
      "templateData": {
        "abc": 123
      }
    }
  ],
  "prepare": [
    "@semantic-release/changelog",
    "@semantic-release/git",
    "@semantic-release/npm",
    {
      "path": "semantic-release-template-plugin",
      "msg": "template plugin",
      "documentLocation": "foo-test.txt",
      "templateData": {
        "abc": 123
      }
    }
  ],
   "publish": [
    "@semantic-release/github",
    "@semantic-release/npm"
  ],
  "success": [
    "@semantic-release/github"
  ],
  "fail": [
    "@semantic-release/github"
  ]
}
